@use crate::handlers::web::preview::{get_preview_type, PreviewType, file_size_humanized};
@use crate::models::file::File;
@use crate::config::Config;
@(host: &str, file: &File, config: &Config)

@* Archive preview *@
@if get_preview_type(file) == PreviewType::Archive {
  <button class="fab_dl" onclick="dl()"><i class="material-icons">download</i></button>
  <div class="center" style="color:white">
    @if let Ok(metadata) = file.get_archive_metadata(config) {
    <h2>@metadata.archive_type content:</h2><br>
        <div id="table" class="wrap-table100">
          <div class="table100">
             <table id="fileTable">
                <thead>
                   <tr class="table100-head">
                      <th class="column">Name</th>
                      <th class="column">Size</th>
                   </tr>
                </thead>
                <tbody id="tableBody">
                  @for i in metadata.files {
                    <tr>
                      <td>
                        @i.get_name()
                      </td>
                      <td>
                        @i.get_size()
                      </td>
                    </tr>
                  }
                </tbody>
             </table>
          </div>
        </div>
    } else {
      An error occured while retrieving archive content metadata!
    }
  </div>
}


@* Video preview *@
@if get_preview_type(file) == PreviewType::Video {
  <div class="center">
      <video controls>
          <source src='@host/preview/raw/@file.public_filename.as_ref().unwrap()' type="file.file_type">
          Your browser does not support HTML5 video.
      </video>
  </div>
}

@* Image preview *@
@if get_preview_type(file) == PreviewType::Image {
  <div class="center">
      <img src='@host/preview/raw/@file.public_filename.as_ref().unwrap()'>
  </div>
}

@* Text preview *@
@if get_preview_type(file) == PreviewType::Text {
  <div>
      <table style="border: 0;padding-top: 20px;padding-left: 10px;font-size: 1.2em;">
          <tr>
              <td>File: </td>
              <td>@file.name</td>
          </tr>
          <tr>
              <td>Size: </td>
              <td>@file_size_humanized(file)</td>
          </tr>
      </table>
  </div>

  <div id="editor" class="content">Loading...</div>
  <button class="fab_dl" onclick="dl()"><i class="material-icons">download</i></button>
}

@* Fallback preview *@
@if get_preview_type(file) == PreviewType::Fallback {
  <br>
  <span style="text-align: center; color: lightgray">
      <h1 style="color: lightgray;font-size: 2.5em;">No preview available. You can download it anyway</h1>
  </span>

  <!-- download button -->
  <div class="centered" style="color: lightgray;">
      <div style="font-size: 1.8em;">
          <center> @file.name </center>
      </div>
      <br>
      <a href="@host/preview/raw/@file.public_filename.as_ref().unwrap()" class="downloadButton">Download</a>
      <br>
      <center>
        <span class="cv" style="font-size: 1.5rem;">(@file_size_humanized(file)@if file.encryption > 0 { encrypted})</span>
      </center>
  </div>
}

<div style="position:fixed;bottom:10px;left:10px">
  <a href="https://github.com/DataManager-Go/DataVault" style="color:white">Source</a>
</div>
